:root {
    --retroGreen: #33FF33;
    --retroBlack: #282828;
    font-size: 16px;
    text-shadow: 0 0 4px var(--retroGreen);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--retroBlack);
    font-family: monospace;
    color: var(--retroGreen);
}

*::selection {
    color: var(--retroBlack);
    background: var(--retroGreen);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

header {
    min-height: min-content;
    text-align: center;
    font-size: xxx-large;
}

main {
    flex: 1;
    margin: 0 auto;
}

footer {
    min-height: min-content;
    text-align: center;
    font-size: small;
}

a:hover {
    text-shadow: 0 0 10px var(--retroGreen);
}

div.retro {
    margin: 2em 0;
    padding: 1em;
    outline: 1px dashed var(--retroGreen);
    box-shadow: 0 0 5px var(--retroGreen);
}

form.retro {
    display: inline-block;
    margin: 2em 0;
    padding: 1em;
    outline: 1px dashed var(--retroGreen);
    box-shadow: 0 0 5px var(--retroGreen);
}


input.retro {
    padding: 2px;
    border: 1px solid var(--retroGreen);
    box-shadow: 0 0 5px var(--retroGreen);
}

input.retro:focus, input.retro:hover {
    outline: none !important;
    box-shadow: 0 0 10px var(--retroGreen);
}


input[type="submit"].retro {
    padding: 4px;
    border: 1px solid var(--retroGreen);
    box-shadow: 0 0 5px var(--retroGreen);
}

input[type="submit"].retro:hover, input[type="submit"].retro:focus {
    cursor: pointer;
    outline: none !important;
    box-shadow: 0 0 10px var(--retroGreen);
}